<g transform="translate({{offsetX}}, {{offsetY}})">
    <line x1="{{coordinates[0][0]}}" y1="{{coordinates[0][1]" x2="{{coordinates[0][2]}}" y2="{{coordinates[0][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[1][0]}}" y1="{{coordinates[1][1]" x2="{{coordinates[1][2]}}" y2="{{coordinates[1][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[2][0]}}" y1="{{coordinates[2][1]" x2="{{coordinates[2][2]}}" y2="{{coordinates[2][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[3][0]}}" y1="{{coordinates[3][1]" x2="{{coordinates[3][2]}}" y2="{{coordinates[3][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[4][0]}}" y1="{{coordinates[4][1]" x2="{{coordinates[4][2]}}" y2="{{coordinates[4][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[5][0]}}" y1="{{coordinates[5][1]" x2="{{coordinates[5][2]}}" y2="{{coordinates[5][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[6][0]}}" y1="{{coordinates[6][1]" x2="{{coordinates[6][2]}}" y2="{{coordinates[6][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[7][0]}}" y1="{{coordinates[7][1]" x2="{{coordinates[7][2]}}" y2="{{coordinates[7][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[8][0]}}" y1="{{coordinates[8][1]" x2="{{coordinates[8][2]}}" y2="{{coordinates[8][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[9][0]}}" y1="{{coordinates[9][1]" x2="{{coordinates[9][2]}}" y2="{{coordinates[9][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[10][0]}}" y1="{{coordinates[10][1]" x2="{{coordinates[10][2]}}" y2="{{coordinates[10][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[11][0]}}" y1="{{coordinates[11][1]" x2="{{coordinates[11][2]}}" y2="{{coordinates[11][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[12][0]}}" y1="{{coordinates[12][1]" x2="{{coordinates[12][2]}}" y2="{{coordinates[12][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[13][0]}}" y1="{{coordinates[13][1]" x2="{{coordinates[13][2]}}" y2="{{coordinates[13][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[14][0]}}" y1="{{coordinates[14][1]" x2="{{coordinates[14][2]}}" y2="{{coordinates[14][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[15][0]}}" y1="{{coordinates[15][1]" x2="{{coordinates[15][2]}}" y2="{{coordinates[15][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[16][0]}}" y1="{{coordinates[16][1]" x2="{{coordinates[16][2]}}" y2="{{coordinates[16][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[17][0]}}" y1="{{coordinates[17][1]" x2="{{coordinates[17][2]}}" y2="{{coordinates[17][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[18][0]}}" y1="{{coordinates[18][1]" x2="{{coordinates[18][2]}}" y2="{{coordinates[18][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[19][0]}}" y1="{{coordinates[19][1]" x2="{{coordinates[19][2]}}" y2="{{coordinates[19][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[20][0]}}" y1="{{coordinates[20][1]" x2="{{coordinates[20][2]}}" y2="{{coordinates[20][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
    <line x1="{{coordinates[21][0]}}" y1="{{coordinates[21][1]" x2="{{coordinates[21][2]}}" y2="{{coordinates[21][3]}}" stroke="#46d22d" stroke-width="0.5" opacity="0.7" />
</g>